.services-section {
    padding: 100px 0 100px 0;
    background-color: $secondary-color;
    text-align: center;

    &__our-services {
        margin: auto;
        color: $important-text-color;
    }

    &__high-impact {
        max-width: 700px;
        margin: 24px auto auto auto;
    }

    .services-case {
        display: grid;
        grid: 1fr 1fr / 1fr 1fr 1fr;
        gap: 80px 66px;
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1400px;

        .case-contenair {
            background-color: $service-card-background-color;
            border-radius: 20px;
            padding: 45px 45px;
            display: flex;
            flex-direction: column;
            text-align: start;
            transition: transform 200ms ease-in-out;

            &:hover {
                background-color: $main-color;
                color: $secondary-color;
                transform: translateY(-5px) translateX(5px);
                box-shadow: -5.1px 5.1px 2.2px rgba(0, 0, 0, 0.037),
                    -8.3px 8.3px 5.3px rgba(0, 0, 0, 0.053),
                    -10.8px 10.8px 10px rgba(0, 0, 0, 0.065),
                    -13.6px 13.6px 17.9px rgba(0, 0, 0, 0.077),
                    -17.8px 17.8px 33.4px rgba(0, 0, 0, 0.093),
                    -30px 30px 80px rgba(0, 0, 0, 0.13);
                // TODO animation de changement de couleur et surtout optimiser
                // les performances du changement
            }

            &__icon {
                height: 80px;
                width: 80px;
            }

            &__title {
                margin-top: 62px;
                margin-bottom: 15px;
                font-size: 25px;
            }
        }
    }
}
