.header {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    color: $secondary-color;

    &__canvix {
        display: flex;
        text-decoration: none;

        &_img {
            height: 40px;
            width: 40px;
        }

        &_h4 {
            margin-left: 10px;
            color: $secondary-color;
        }
    }

    .navbar {
        display: flex;
        align-items: center;
        gap: 30px;

        &__link {
            text-decoration: none;
            color: $secondary-color;
            font-size: 20px;

            &:hover {
                &::after {
                    transform: scaleX(1);
                }
            }

            &::after {
                content: "";
                display: block;
                border-top: 1px solid;
                transform-origin: left;
                transform: scaleX(0);
                transition: transform 200ms ease-out;
            }
        }
    }

    &__get-in-touch-btn {
        background-color: $secondary-color;
        color: $main-color;
        border-radius: 23px;
        padding: 12px 15px 12px 15px;
        text-decoration: none;
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;

        @extend .button;
    }
}
