.header {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;

    &__canvix {
        display: flex;
        text-decoration: none;
        margin-left: 10px;

        &_h4 {
            margin-left: 10px;
        }
    }

    .navbar {
        display: flex;
        align-items: center;
        gap: 30px;

        &__link {
            text-decoration: none;
        }
    }

    * {
        color: $main-color;
    }
}
