// Font-Family and Font Weight
//Heading
* {
    body {
        font-family: $body-font-family;
        font-weight: $body-font-weight;
        font-size: $body-font-size;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: $heading-font-family;
            font-weight: $heading-font-weight;
        }

        h1 {
            font-size: $h1-font-size;
        }

        h2 {
            font-size: $h2-font-size;
        }

        h3 {
            font-size: $h3-font-size;
        }

        h4 {
            font-size: $h4-font-size;
        }

        h5 {
            font-size: $h5-font-size;
        }

        h6 {
            font-size: $h6-font-size;
        }
    }
}
