// Font-Family and Font Weight
//Heading
$heading-font-family: "Roboto Serif", serif;
$heading-font-weight: 600;
//Body
$body-font-family: "DM Sans", sans-serif;
$body-font-weight: 400;
$body-font-size: 18px;

//Headings
$h1-font-size: 77px;
$h2-font-size: 64px;
$h3-font-size: 45px;
$h4-font-size: 30px;
$h5-font-size: 20px;
$h6-font-size: 15px;

//colors
$main-color: #0c0c0c;
$secondary-color: #ffffff;
$important-text-color: #64ccc5;
$secondary-button-background-color: #121212;
$service-card-background-color: #f4f4f4;
