* {
  margin: 0;
}
* body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
* body h1,
* body h2,
* body h3,
* body h4,
* body h5,
* body h6 {
  font-family: "Roboto Serif", serif;
  font-weight: 600;
}
* body h1 {
  font-size: 77px;
}
* body h2 {
  font-size: 64px;
}
* body h3 {
  font-size: 45px;
}
* body h4 {
  font-size: 30px;
}
* body h5 {
  font-size: 20px;
}
* body h6 {
  font-size: 15px;
}

.header {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #ffffff;
}
.header__canvix {
  display: flex;
  text-decoration: none;
}
.header__canvix_img {
  height: 40px;
  width: 40px;
}
.header__canvix_h4 {
  margin-left: 10px;
  color: #ffffff;
}
.header .navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .navbar__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
.header .navbar__link:hover::after {
  transform: scaleX(1);
}
.header .navbar__link::after {
  content: "";
  display: block;
  border-top: 1px solid;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 200ms ease-out;
}
.header__get-in-touch-btn {
  background-color: #ffffff;
  color: #0c0c0c;
  border-radius: 23px;
  padding: 12px 15px 12px 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.hero-section {
  background-color: #121212;
  height: 1000px;
  color: #ffffff;
}
.hero-section__ornament {
  position: absolute;
  height: 192px;
  width: 183px;
  top: 192px;
  left: -10px;
}
.hero-section .hero-contenair {
  display: flex;
  max-width: 1400px;
  margin: auto;
}
.hero-section .business-growth {
  margin-top: 162px;
  max-width: 600px;
}
.hero-section .business-growth__heading {
  margin-bottom: 24px;
}
.hero-section .business-growth__heading_span {
  color: #64ccc5;
}
.hero-section .business-growth__cta {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 23px;
  padding: 10px 20px 10px 10px;
  color: #0c0c0c;
  margin-top: 32px;
  background-color: #ffffff;
  gap: 10px;
}
.hero-section .trusted-brands {
  margin-top: 180px;
}
.hero-section .trusted-brands__heading {
  color: #64ccc5;
}
.hero-section .trusted-brands__bloc-img {
  display: flex;
}
.hero-section .circle {
  position: relative;
  height: 750px;
  width: 750px;
  margin: auto;
}
.hero-section .circle__rayon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section .circle__rayon--1 {
  height: 550px;
  width: 550px;
}
.hero-section .circle__rayon--2 {
  height: 650px;
  width: 650px;
}
.hero-section .circle__rayon--3 {
  height: 750px;
  width: 750px;
}
.hero-section .circle__rayon--4 {
  height: 850px;
  width: 850px;
}

.services-section {
  padding: 100px 0 100px 0;
  background-color: #ffffff;
  text-align: center;
}
.services-section__our-services {
  margin: auto;
  color: #64ccc5;
}
.services-section__high-impact {
  max-width: 700px;
  margin: 24px auto auto auto;
}
.services-section .services-case {
  display: grid;
  grid: 1fr 1fr/1fr 1fr 1fr;
  gap: 80px 66px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}
.services-section .services-case .case-contenair {
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 45px 45px;
  display: flex;
  flex-direction: column;
  text-align: start;
  transition: transform 200ms ease-in-out;
}
.services-section .services-case .case-contenair:hover {
  background-color: #0c0c0c;
  color: #ffffff;
  transform: translateY(-5px) translateX(5px);
  box-shadow: -5.1px 5.1px 2.2px rgba(0, 0, 0, 0.037), -8.3px 8.3px 5.3px rgba(0, 0, 0, 0.053), -10.8px 10.8px 10px rgba(0, 0, 0, 0.065), -13.6px 13.6px 17.9px rgba(0, 0, 0, 0.077), -17.8px 17.8px 33.4px rgba(0, 0, 0, 0.093), -30px 30px 80px rgba(0, 0, 0, 0.13);
}
.services-section .services-case .case-contenair__icon {
  height: 80px;
  width: 80px;
}
.services-section .services-case .case-contenair__title {
  margin-top: 62px;
  margin-bottom: 15px;
  font-size: 25px;
}

.button, .header__get-in-touch-btn, .hero-section .business-growth__cta {
  transition: transform 200ms ease-in-out;
  position: relative;
  z-index: 1;
}
.button:hover, .header__get-in-touch-btn:hover, .hero-section .business-growth__cta:hover {
  transform: translateY(-5px);
}
.button:hover::after, .header__get-in-touch-btn:hover::after, .hero-section .business-growth__cta:hover::after {
  opacity: 1;
}
.button::after, .header__get-in-touch-btn::after, .hero-section .business-growth__cta::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 23px;
  transition: opacity 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

/*# sourceMappingURL=styles.css.map */
